
@{
    ViewBag.Title = "UserResponsesVideo";
}



<div style="padding:4%">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12  col-xs-12">
            <h3>Response from all customer for Campaing VideoVibePro</h3>
       </div> 
        <div class="col-lg-3 col-md-3 col-xs-12 ">
            <div class="btn-group bootstrap-select">
                 <select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7" tabindex="-98">
                    <option class="bs-title-option" value="">Single Select</option>
                    <option disabled="" selected="">Video Vibe</option>
                    <option value="2">Campaing 2</option>
                    <option value="3">Campaing 3</option>
                </select>
            </div>
        </div> 
    </div>
    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card card-testimonial">
                <video controls style="width:100%">

                    <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>

                </video>
                <div class="form-group " style="margin-top:3%">
                    <label for="smFormGroupInput"></label>
                    <div>
                        <fieldset class="rating" style="margin-top:-2%;margin-bottom:2%">
                            <input type="radio" id="star5" name="rating" value="5" /><label style="font-size:12px" class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label style="font-size:12px" class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label style="font-size:12px" class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label style="font-size:12px" class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label style="font-size:12px" class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label style="font-size:12px" class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label style="font-size:12px" class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label style="font-size:12px" class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label style="font-size:12px" class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label style="font-size:12px" class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div>
                </div>
                <div class="card-content">
                    <h6 class="card-description">
                        Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
                    </h6>
                </div>
                <div class="footer">
                    <h4 class="card-title">Alec Thompson</h4>
                    <h6 class="category">alectn</h6>
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="~/assets/img/faces/card-profile1-square.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card card-testimonial">
                <video controls style="width:100%">

                    <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>

                </video>
                <div class="form-group " style="margin-top:3%">
                    <label for="smFormGroupInput"></label>
                    <div>
                        <fieldset class="rating" style="margin-top:-2%;margin-bottom:2%">
                            <input type="radio" id="star5" name="rating" value="5" /><label style="font-size:12px" class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label style="font-size:12px" class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label style="font-size:12px" class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label style="font-size:12px" class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label style="font-size:12px" class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label style="font-size:12px" class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label style="font-size:12px" class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label style="font-size:12px" class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label style="font-size:12px" class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label style="font-size:12px" class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div>
                </div>
                <div class="card-content">
                    <h6 class="card-description">
                        Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
                    </h6>
                </div>
                <div class="footer">
                    <h4 class="card-title">Alec Thompson</h4>
                    <h6 class="category">alectn</h6>
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="~/assets/img/faces/card-profile1-square.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card card-testimonial">
                <video controls style="width:100%">

                    <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>

                </video>
                <div class="form-group " style="margin-top:3%">
                    <label for="smFormGroupInput"></label>
                    <div>
                        <fieldset class="rating" style="margin-top:-2%;margin-bottom:2%">
                            <input type="radio" id="star5" name="rating" value="5" /><label style="font-size:12px" class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label style="font-size:12px" class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label style="font-size:12px" class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label style="font-size:12px" class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label style="font-size:12px" class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label style="font-size:12px" class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label style="font-size:12px" class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label style="font-size:12px" class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label style="font-size:12px" class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label style="font-size:12px" class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div>
                </div>
                <div class="card-content">
                    <h6 class="card-description">
                        Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
                    </h6>
                </div>
                <div class="footer">
                    <h4 class="card-title">Alec Thompson</h4>
                    <h6 class="category">alectn</h6>
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="~/assets/img/faces/card-profile1-square.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card card-testimonial">
                <video controls style="width:100%">

                    <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>

                </video>
                <div class="form-group " style="margin-top:3%">
                    <label for="smFormGroupInput"></label>
                    <div>
                        <fieldset class="rating" style="margin-top:-2%;margin-bottom:2%">
                            <input type="radio" id="star5" name="rating" value="5" /><label style="font-size:12px" class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label style="font-size:12px" class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label style="font-size:12px" class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label style="font-size:12px" class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label style="font-size:12px" class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label style="font-size:12px" class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label style="font-size:12px" class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label style="font-size:12px" class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label style="font-size:12px" class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label style="font-size:12px" class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div>
                </div>
                <div class="card-content">
                    <h6 class="card-description">
                        Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
                    </h6>
                </div>
                <div class="footer">
                    <h4 class="card-title">Alec Thompson</h4>
                    <h6 class="category">alectn</h6>
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="~/assets/img/faces/card-profile1-square.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>